@import '../variables';

.content {
  min-height: 500px;
}

.loader {
  left: 50%;
  margin-left: - $app-loader-height / 2;
  margin-top: $app-loader-padding;
  position: absolute;
  width: $app-loader-width;
} // .loader

.product-container {
  padding-top: $product-container-padding;

  .product-preview {
    margin-top: $product-margin;
    width: 300px;
  }

  .product-title{
    text-align: center;
  }
}
