@import '../variables';

.content {
  min-height: 500px;
}

.loader {
  left: 50%;
  margin-left: - $app-loader-height / 2;
  margin-top: $app-loader-padding;
  position: absolute;
  width: $app-loader-width;
} // .loader

.product-container {
  padding-top: $product-container-padding;

  .product-preview {
    margin-top: $product-margin;
    width: 300px;
  }

  .product-title {
    text-align: center;
  }
}

.product-details {
  padding-top: $product-container-padding;

  .product-img {
    margin: 0 auto;
  }

  button {
    margin-top: $button-margin;
  }

  .review {
    background-color: $gray;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1.5rem;
    overflow-wrap: break-word;

    &.white {
      background-color: white;
      border: solid $gray;
    }
  }
  .star {
    color: $star-color;
  }
}
