@import '../variables';

.content {
  min-height: 500px;
}

.loader {
  left: 50%;
  margin-left: - $app-loader-height / 2;
  margin-top: $app-loader-padding;
  position: absolute;
  width: $app-loader-width;
} // .loader

.product-container {
  padding-top: $product-container-padding;

  .product-preview {
    margin-top: $product-margin;
    width: 300px;
  }

  .product-title {
    text-align: center;
  }
}

.product-details {
  padding-top: $product-container-padding;

  .product-img {
    margin: 0 auto;
  }

  button {
    margin-top: $button-margin;
  }

  .review {
    background-color: $gray;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1.5rem;
    overflow-wrap: break-word;

    &.white {
      background-color: white;
      border: 1px solid $gray;
    }
  }
  .star {
    color: $star-color;
  }
}

.info-message {
  border: 1px solid $gray;
  min-height: $info-message-height;
  line-height: $info-message-height;
  overflow-wrap: break-word;
}

.error-container {
  margin-top: $info-message-height / 2;
  min-height: $info-message-height;

  .error {
    @extend .info-message;
  }
}

.signed-up-message {
  @extend .info-message;
  color: $green;
  margin-top: $div-padding;
}

