<nav class="nav container container-fluid justify-content-between">
  <div class="row justify-content-start">
    <a class="nav-link" [routerLink]="['/all-products']" routerLinkActive="active-route">All products</a>
  </div>
  <div class="row justify-content-end">
    <!--
        <span *ngIf="loggedIn">{{getUserName()}}</span>
    -->
    <a *ngIf="!loggedIn()" class="nav-link " [routerLink]="['/sign-up']" routerLinkActive="active-route">Sign Up</a>
    <a *ngIf="!loggedIn()" class="nav-link" [routerLink]="['/login']" routerLinkActive="active-route">Login</a>
    <a *ngIf="loggedIn()" class="nav-link active-route" (click)="onLogout()">Logout</a>
    <!--
        <a class="nav-link disabled" href="#">Logout</a>
    -->
  </div>
</nav>
