@import 'variables';

img {
  display: block;
  max-width: 100%;
}

a:hover,
a:focus {
  cursor: pointer;
  text-decoration: none;
}

.clear {
  clear: both;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  user-select: none;

  &::selection {
    background: transparent;
  }
}

.max-width-640 {
  max-width: 640px;
}

.btn {
  border-radius: $button-border-radius;
  cursor: pointer;
}

.btn-center {
  display: block;
  margin: 0 auto;
}

.form-control {
  border-radius: $custom-border-radius;
  line-height: 1.5;
}

.active-route {
  color: $active-route-link-color;
}

.grow-shadow {
  border-radius: $custom-border-radius;
  box-shadow: 0 0 1px transparent;
  transform: perspective(1px) translateZ(0);
  transition-duration: .3s;
  transition-property: box-shadow, transform;
}

.grow-shadow:hover,
.grow-shadow:focus,
.grow-shadow:active {
  box-shadow: $product-box-shadow;
  cursor: pointer;
  transform: scale(1.05);
}
