// base
$custom-border-radius: 1px;

// colors
$active-route-link-color: #014c8c;

// header
$header-padding: 10px 0;

// nav
$nav-padding: 15px;

// buttons
$button-border-radius: $custom-border-radius;


// loaders
$app-loader-height: 120px;
$app-loader-padding: 120px;
$app-loader-width: 120px;
