<div *ngIf="!error && !products" class="loader" style="left: 50%; margin-left: -60px; margin-top: 120px;
    position: absolute;
    width: 120px;">
  <img src="../../assets/loading.gif" alt="loading gif">
</div>
<div *ngIf="error">
  Error occurred: {{error}}
</div>
<div class="product-container row justify-content-around">
  <a *ngFor="let product of products"
     class="product-preview grow-shadow"
     [routerLink]="['/product/', product.id]">
    <img class="product-img"
         src="assets/imgs/{{product.img}}"
         alt="{{product.title}}"
         title="{{product.title}}">
    <div class="product-title">
      {{product.title}}
    </div>
  </a>
</div>
